USE [NoteApp]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 2026/04/09 18:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[NoteNumber] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Content] [varchar](5000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NoteNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Notes] ON 

INSERT [dbo].[Notes] ([NoteNumber], [Title], [Content]) VALUES (1, N'PRG381 Project Ideas', N'Maybe do a library system or a fitness tracker. Ask Daryl what his group is doing.')
INSERT [dbo].[Notes] ([NoteNumber], [Title], [Content]) VALUES (2, N'Groceries - Urgent', N'2L Milk, brown bread, eggs, and those spicy chips from the vending machine.')
INSERT [dbo].[Notes] ([NoteNumber], [Title], [Content]) VALUES (3, N'Springboks Schedule', N'Check what time the match starts this Saturday. Braai at 5 PM?')
SET IDENTITY_INSERT [dbo].[Notes] OFF
GO
